/* -----------------------------------------
   Home page slider
----------------------------------------- */

.home-slider:not(.slick-initialized) {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  .home-slide:first-child {
    display: block;
  }
}

.home-slider {
  .slick-arrow {
    /* Slick arrows global styles */
  }

  .slick-prev {
    //&::before {
    //}
  }

  .slick-next {
    //&::before {
    //}
  }

  .slick-dots {
    /* Slick dots global styles */
    font-size: 0;

    li {
      &:only-child {
        display: none;
      }
    }
  }

  .videoHolder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    .video {
      pointer-events: none;

      @include absolute-center;
    }
  }
}

.home-slide {
  background: $gray;
  width: 100%;
  height: 500px; /* define the height of slide */
  transition: height 0.3s ease;

  @include breakpoint(medium down) {
    height: 400px;
  }

  @include breakpoint(small down) {
    height: 300px;
  }

  &__inner {
    @extend %bgcover;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 60px;
  }

  &__caption {
    width: 100%;
    position: relative;
    z-index: 2;
  }
}

.home-slide__caption {
  h3 {
    font-size: 3rem;
    font-weight: 700;
    color: $white;
    margin-bottom: 1rem;
  }
}

.slide-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark_pink;
  color: $white;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: 600;
  min-width: 180px;
  transition: opacity 0.3s;

  &:hover {
    color: $white;
    opacity: 0.9;
  }

  i {
    font-size: 0.8rem;
    margin-left: 15px;
  }
}
