/* ---------------------------------------
	Blog page
--------------------------------------- */

.preview {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.preview__meta {
  margin-top: 20px;
  margin-bottom: 0;
  color: $dark-gray;
  font-size: 14px;
}

.preview__thumb {
  @include breakpoint(small down) {
    margin-bottom: 20px;
  }
}

.container__news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.card__news {
  background-size: cover;
  background-position: center;
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.card__news p {
  margin: 0;
}

.card__news h2 {
  margin: 5px 0;
  font-size: 24px;
  line-height: 1.2;
}

.cat__news {
  font-weight: bold;
}

/* ---------------------------------------
	Post / Page inner view
--------------------------------------- */

.entry__thumb {
  margin-bottom: 20px;
}

.entry__meta {
  color: $dark-gray;
  font-size: 14px;
}

.entry__cat {
  margin-top: 20px;
}
