body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main-content {
  flex: 1 0 auto;
  padding: 50px 0;
  background-color: $gray;
}

/* 404 page */
.not-found {
  padding-top: 100px;
  padding-bottom: 100px;
  color: $violet;

  .label {
    color: $teal;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $dark_aqua;
    }
  }
}

.w-60 {
  width: 50%;
}

.w-70 {
  width: 60%;
}

/* Top page */
.tophome__sidebar {
  background-color: $dark_aqua;
  padding: 20px 0;
  width: 75%;
}

.tophome-menu__header {
  color: $violet;
  padding: 8px 25px;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 15px;
  opacity: 0.9;
}

/* About page */
.about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.sidebar-home {
  width: 35%;
}

.page-button {
  display: block;
  text-decoration: none;
  background-color: $white;
  color: $violet;
  padding: 20px 20px;
  font-size: 18px;
  margin-top: 20px;
  width: 75%;

  &:hover {
    background-color: $gray;
    color: lighten($violet, 20%);
  }
}

.page-button-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* News page */
.news {
  background-color: $gray;
}

.sidebar-menu {
  background-color: $violet;
  padding: 20px 0;
  width: 75%;
}

.sidebar-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-menu__list li {
  padding: 8px 25px;
  transition: background 0.3s ease;
}

.sidebar-menu__list li a {
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  display: block;
}

.sidebar-menu__header {
  padding: 8px 25px;
  color: $white;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 15px;
  opacity: 0.9;
}

.sidebar-menu__list li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-menu__list .children {
  margin: 0;
  list-style: none;
  padding-left: 15px;
}

.more__button {
  background-color: $white;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $violet;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;

  p {
    color: $violet;
  }

  &:hover {
    background-color: $gray;
  }

  &:hover p {
    color: lighten($violet, 20%);
  }
}

/* Single page */
.entry {
  max-width: 800px;
  margin: 0 auto;
  color: $violet;
  line-height: 1.6;
}

.entry__title {
  color: $violet;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.entry__date {
  color: $teal;
  font-size: 18px;
  margin-bottom: 20px;
}

.entry__thumb img {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

.post-tags {
  margin: 20px 0;
  padding: 0;
}

.post-tags a {
  display: inline-block;
  border: 1px solid $teal;
  color: $teal;
  padding: 5px 15px;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
}

.entry__content h2,
.entry__content h3 {
  color: $violet;
  margin-top: 30px;
}

.social-placeholder {
  margin-bottom: 20px;
}

/* Home page */
.page-title {
  color: $violet;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.2;
}

.page-description {
  margin-bottom: 40px;
  max-width: 900px;
}

/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $violet;
  padding: 15px 20px;
  margin: 20px 0;
  background: #fff;

  ul.pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;

    li {
      margin: 0 8px;
      font-size: 18px;
      font-weight: bold;
      color: $violet;
      cursor: pointer;

      a {
        color: $violet;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: lighten($violet, 20%);
        }
      }

      &.current,
      .current {
        color: $pink;
        background: none;
      }

      &.unavailable,
      &.ellipsis {
        cursor: default;
        padding: 0 5px;
      }

      &.pagination-previous,
      &.pagination-next {
        a::before,
        a::after {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .grid-container.flex-between {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .w-70 {
    width: 90%;
  }

  .sidebar-home {
    width: 40%;
    margin-top: 30px;
  }
}
