.sidebar {
  @include breakpoint(small down) {
    margin-top: 50px;
  }
}

.widget {
  margin-bottom: 20px;
  background: $white;

  &:last-child {
    margin-bottom: 0;
  }
}

.custom-event-widget,
.wp-block-group,
.media-enquiry-widget {
  background: $white;
  margin-bottom: 20px;
  border: none;
}

.widget-header,
.wp-block-heading,
.widget-main-title {
  padding: 12px 20px;
  font-weight: 700;
  font-size: 22px;
  margin: 0 !important;
  color: $white !important;
  text-transform: none; // Убираем автоматический регистр, если нужно
}

.wp-block-heading {
  background: $violet !important;
}
.widget-header {
  background: $yellow !important;
}

.widget-content,
.wp-block-latest-posts {
  padding: 20px !important;
  list-style: none !important;
  margin: 0 !important;
}

.wp-block-latest-posts li {
  margin-bottom: 18px !important;
  line-height: 1.2;
  border-bottom: none;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.wp-block-latest-posts__post-title {
  display: block;
  color: $violet !important;
  font-weight: 700;
  text-decoration: none !important;
  font-size: 16px;
  margin-bottom: 4px;

  &:hover {
    text-decoration: underline !important;
  }
}

.wp-block-latest-posts__post-date {
  display: block;
  color: $black;
  font-size: 14px;
  font-weight: 400;
}

.media-enquiry-widget {
  padding: 15px 20px;
  color: $violet;

  h2.widget-main-title {
    color: $violet !important;
    background: none !important;
    padding: 0;
    margin-bottom: 20px !important;
    font-weight: 500;
  }

  strong {
    display: block;
    font-size: 17px;
    margin-bottom: 2px;
  }

  p {
    font-size: 15px;
    margin-bottom: 2px;
  }

  a.email-link {
    text-decoration: none;
  }

  a.tel-link {
    color: inherit;
    text-decoration: none;
  }
}

.event-entry {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 10px;
  }
}

.event-title {
  font-weight: 700;
  color: $violet;
  font-size: 18px;
  display: block;
  text-decoration: none;
  margin-bottom: 2px;
}

.event-date {
  color: $black;
  font-size: 15px;
}

.all-events-link {
  display: inline-block;
  margin-top: 5px;
  color: $yellow;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
  }
}

.back {
  text-decoration: none;
  color: $violet;
  padding-right: 10px;
  font-size: 17px;

  span {
    margin-left: 10px;
  }
}
